@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-colorBase: rgb(255, 255, 255);
  --text-colorMenu: rgba(110, 100, 87, 0.801);

  --text-fontT: "Roboto", sans-serif;
  --text-fontP: "Inter", sans-serif;

  --bg-url: url("../imagens/360mobile.jpg");
  --bg-corTranparente: rgba(10, 46, 77, 0.76);

  --font-size-h1: 26px;
  --font-size-h2: 20px;
  --font-size-p: 14px;
}

body {
  width: 100vw;
  font-family: var(--text-fontP);
  color: var(--text-colorBase);
  background: var(--bg-url) no-repeat top center/cover fixed;
  padding: 0 12px;
  font-size: 14px;
}

/* cabeçalho e menu navegação */

.cabecalho {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

nav .logos-menu {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: var(--text-colorMenu);
  text-align: center;
  border-radius: 10px;
}

nav div h1 {
  position: relative;
}
nav div h1 .logo-menu-chapeu {
  width: 28px;
  position: absolute;
  left: -6px;
  bottom: 7px;
}
nav div .logo-menu-humburg {
  width: 30px;
  position: absolute;
  right: 10%;
  bottom: 2px;
}

nav ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--text-colorMenu);
  border-radius: 10px;
}

nav ul li {
  border-radius: 10px;
  text-align: center;
  width: 95%;
  border: 1px solid var(--text-colorBase);
  list-style: none;
  margin: 4px auto;
}

nav ul li a {
  color: var(--text-fontBase);
  text-decoration: none;
}

/* main */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--text-colorBase);
  background: var(--text-colorMenu);
  border-radius: 100px;
  padding: 8px;
}

.btn-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
}

.btn-fixed.visible {
  visibility: visible;
}

body h1 {
  font-family: var(--text-fontT);
  font-size: var(--font-size-h1);
}

body h2 {
  font-family: var(--text-fontT);
  font-size: var(--font-size-h2);
  text-align: center;
}

body p {
  font-size: var(--font-size-p);
}

.interface {
  background: var(--bg-corTranparente);
  margin: auto 12px;
}

.rodape {
  display: flex;
  flex-direction: column;
  padding: 8px 0 16px 0;
  justify-content: space-around;
  background-color: var(--text-colorMenu);
  text-align: center;
  border-radius: 10px;
}

.rodape div a {
  text-decoration: none;
  color: var(--text-colorBase);
}

@media screen and (min-width: 767px) {
  body {
    background: url("../imagens/768tablet.jpg") no-repeat top center/cover fixed;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1050px) {
  body {
    background: url("../imagens/1920desktop.jpg") no-repeat top center/cover
      fixed;
    padding: 0 48px;
  }
}
